<form class="login-form" id="login-form">
  <h1 class="login-form__header">Вход</h1>
  <div class="login-form__content">
    {{{ loginField }}}
    {{{ passwordField }}}
  </div>
  <div class="login-form__footer">
    {{{ loginButton }}}
    {{{ registerLink }}}
    {{{ chatsLink }}}
  </div>
</form>
