<div class="messagesContainer">
<!--  <div class="messages__list messages__list-empty">-->
<!--    Выберите чат, чтобы начать общение-->
<!--  </div>-->
  <div class="messages">
    <div class="messages__userInfo">
      <div class="messages__userInfo__avatar">
        <img src={{{ userAvatar }}} alt="userAvatar">
      </div>
      <div class="messages__userInfo__name">
        {{{ userName }}}
      </div>
    </div>
    <div class="messages__list">
      <div class="chat__date">
        {{ date }}
      </div>
      <div class="chat_messages">
        {{{ messagesList }}}
      </div>
    </div>
  </div>
  {{{ inputMessage }}}
</div>
