<form class="registration-form">
  <h1 class="registration-form__header">Регистрация</h1>
  <div class="registration-form__content">
    {{{ emailField }}}
    {{{ loginField }}}
    {{{ firstNameField }}}
    {{{ secondNameField }}}
    {{{ phoneField }}}
    {{{ passwordField }}}
    {{{ repeatPasswordField}}}
  </div>
  <div class="registration-form__footer">
    {{{ registerButton }}}
    {{{ loginLink }}}
  </div>
</form>
