<div>
  <div class="dropdown">
    {{{ element }}}
    <div class="dropdown-content">
      <div class="content__item">
        {{{ addUserButton }}}
      </div>
      <div class="content__item">
        {{{ deleteUserButton }}}
      </div>
    </div>
  </div>
  {{{ addUserDialog }}}
  {{{ deleteUserDialog }}}
</div>

