<div class="inputField" data-name={{ name }}>
  <input
      type={{ type }}
      id={{ id }}
      class="inputField__input {{#if customClass}}{{ customClass }}__input{{/if}}"
      {{#if label}}placeholder={{ label }}{{/if}}
      {{#if accept}}accept={{ accept }}{{/if}}
      name={{ name }}
      value="{{ value }}"
  />
  <label for={{ id }} class="inputField__label">{{ label }}</label>
</div>
