<div class="inputField" data-name={{ name }}>
  <input
      type={{ type }}
      id={{ id }}
      class="inputField__input"
      placeholder={{ label }}
      name={{ name }}
      value="{{ value }}"
      {{ required }}
      title={{ title }}
  />
  <label for={{ id }} class="inputField__label">{{ label }}</label>
</div>
