<form class="profileEditForm" id="profileEdit-form">
  {{{ emailEditField }}}
  {{{ loginEditField }}}
  {{{ displayNameEditField }}}
  {{{ firstNameEditField }}}
  {{{ secondNameEditField }}}
  {{{ chatNameEditField }}}
  {{{ phoneEditField }}}
  <div class="profileEditForm__actionButton">
    {{{ saveButton }}}
  </div>
</form>
