<main class="profile">
  {{{ sidebar }}}
  <div class="profile__content">
    {{{ profileHeader }}}
    {{{ profileDetailsData }}}
    <div class="profile__action">
        <div class="profile__action__button">
          {{{ changeDataLink }}}
        </div>
        <div class="profile__action__button">
          {{{ changePasswordLink }}}
        </div>
        <div class="profile__action__button">
          {{{ logoutButton }}}
        </div>
      </div>
  </div>
  {{{ changeAvatarDialog }}}
</main>
