<div class="inputField">
  <input type={{ type }} id={{ id }} class="inputField__input" placeholder={{ label }} name={{ name }} value="{{ value }}"/>
  <label for={{ id }} class="inputField__label">{{ label }}</label>
</div>