<div class="chatCard">
  <div class="chatIcon">
    <img src={{{ chatIcon }}} alt="chatIcon">
  </div>
  <div class="chatInfo">
    <div class="chatInfo__name">
      {{{ chatName }}}
    </div>
    <div class="chatInfo__lastMessage">
      {{{ lastMessage }}}
    </div>
  </div>
  <div class="chatSubInfo">
    <div class="chatSubInfo__date">
      {{{ lastMessageDate }}}
    </div>
    <div class="chatSubInfo__newMessages">
      {{{ newMessages }}}
    </div>
  </div>
</div>
