<main class="profile" id="changePassword-form">
  {{{ sidebar }}}
  <div class="profile__content">
    {{{ profileHeader }}}
    <form class="profileChangePasswordForm">
      {{{ oldPasswordField }}}
      {{{ newPasswordField }}}
      {{{ repeatNewPasswordField }}}
      <div class="profileChangePasswordForm__actionButton">
        {{{ saveButton }}}
      </div>
    </form>
  </div>
</main>
