<div class="messagesContainer">
  {{#if selectedChat }}
      <div class="messages">
        <div class="messages__toolbar">
          <div class="toolbar__chatInfo">
            <div class="toolbar__chatInfo__avatar">
              <img src={{{ chatInfo.avatar }}} alt="chatAvatar">
            </div>
            <div class="toolbar__chatInfo__name">
              {{{ chatInfo.title }}}
            </div>

          </div>
          <div class="toolbar__actionButton">
            {{{ dropdown }}}
          </div>
        </div>
        <div class="messages__list">
          <div class="chat__date">
            {{{ date }}}
          </div>
          <div class="chat_messages">
            {{{ messages }}}
          </div>
        </div>
      </div>
      {{{ messageForm }}}
    {{else}}
      <div class="messages-empty">
        Выберите чат, чтобы отправить сообщение
      </div>
    {{/if}}
</div>

